.perguntas-quizz {
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
}

.header-quizz {
    width: 100vw;
    height: 227px;

    margin: 69px auto 30px;
    position: relative;
}

.header-quizz img {
    width: 100vw;
    height: 227px;

    object-fit: cover;
}

.header-quizz .titulo {
    height: 227px;

    align-items: center;
    position: absolute;
    background: #00000091;
}

.header-quizz .titulo span {
    font-size: 39px;
}

.questao {
    width: 45vw;
    height: calc(35vw + 120px);
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 30px auto;
    padding: 30px;
    background-color: #ffffff;

    position: relative;
}

.card-title {
    width: 93%;
    height: 138px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 30px;

    color: #ffffff;
    background-color: #434ca0;
    overflow: hidden;
}

.card-content {
    width: 93%;
    height: auto;
    margin-top: 15px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    top: 158px;
}

.resposta {
    width: 19vw;
    margin: 25px 12px 0;
    overflow: hidden;
}

.resposta img {
    width: 19vw;
    height: 10vw;

    object-fit: cover;
}

.resultado {
    width: 45vw;
    height: 40vw;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;

    position: relative;
}

/* .resultado .card-title {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.resultado .card-content {
    flex-wrap: initial;

    margin-top: 30px;
}

.resultado img {
    width: 23vw;
    height: 20vw;

    margin-right: 10px;
}

.resultado p {
    font-size: 15px;
}

.hide {
    display: none;
}